*{
    padding:0px;
    margin:0px;
}
:root{
    --input-error:red;
    --button-disable:#acacac;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #3c9c7c,#096e4d);
}
header{
    background-color: #083828;
    text-align: center;
    height: 80px;
    line-height: 80px;
    
}

section{
    background-color: bisque;
    border-radius: 10px;
    width: 800px;
    height: 400px;
    padding: 15px;
    margin: auto;
    margin-top: 160px;
    text-align: center;
    line-height: 60px;
}

footer{
    background-color: #083828;
    margin-top: 500px;
    color: antiquewhite;
    height: 40px;
    text-align: center;
    padding: 15px;
    line-height: 40px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:white;
    display: block;
    padding:0px 100px;
}
a:hover{
    background-color: rgba(3, 3, 3, 0.365);
}
nav{
    height: 50px;
    background-color: #0a7450;
    text-transform: uppercase;
}
.menu-principal{
 width: 100%;
 margin: auto;
}
.li-p{
    line-height: 50px;
    float:left;
   
}
ul li ul li{
 background-color: #0a7450;
}

/* SUB MENU */
.ul-not{
    display:none;
}
/*login */
.login{
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    width: 500px;
    height: 240px;
    padding: 35px;
    margin: auto;
    margin-top: 180px;
    border-radius: 20px;
    
}
input{
    padding: 15px;
    border: none;
    outline: none; /* remove linha externa do input */
    border-radius: 10px;
}
button{
    background-color: dodgerblue;
    border: none;
    padding: 10px;
    width: 40%;
    color: white;
    border-radius: 10px;
    transition:0.5s ease;
}
button:hover{
    background-color: rgb(14, 74, 133);
}
.link:hover{ 
 color:rgb(50, 50, 180);
 background-color: none;
}
.email:focus{
   max-width: 170px;
   width: 100%;
}
.email-border-error{
    background:var(--input-error);
}
.button:disabled{
    background:var(--button-disable);
    cursor: not-allowed;
}
